@charset "utf-8";
/* CSS Document */
#Content {
	margin-top: 50px;
}
#Calanderinfo {
	display: inline-block;
	width: 97%;
	height: inherit;
	font-size: 0;
}
#InfoHolder {
	display: inline-block;
	height: inherit;
	width: 30%;
	font-size: initial;
	margin: 0 5%;
	vertical-align: top;
}
#CalanderHolder {
	width: 60%;
	display: inline-block;
	height: inherit;
	margin: 0;
	position: relative;
}
#Calander {
	position: absolute;
	right: 10%;
}
#Calander iframe {
	height: 600px;
	width: 800px;
}