@charset "utf-8";
/* CSS Document */
#Content {
	margin-top: 50px;
}
#SocialMedia {
	vertical-align: top;
}
#CalanderCon {
	display: inline-block;
	width: 97%;
	height: inherit;
	font-size: 0;
}
#InfoHolder {
	display: inline-block;
	height: inherit;
	width: 30%;
	font-size: initial;
	margin: 0 5%;
	vertical-align: top;
}
#CalanderHolder {
	width: 60%;
	display: inline-block;
	height: inherit;
	margin: 0;
	position: relative;
}
#Calander {
	position: absolute;
	right: 10%;
}
#Calander iframe {
	height: 600px;
	width: 800px;
}
@media only screen and (max-width: 500px) {
	#Content {
		display: flex;
		flex-direction: column;
		margin-top: 25px;
	}
	#SocialMedia {
		display: block;
		order: 2;
	}
	#CalanderCon {
		display: flex;
		flex-direction: column;
		order: 1;
		margin-bottom: 200px;
	}
	#InfoHolder {
		order: 2;
		display: block;
		margin: 0 auto;
		
	}
	#CalanderHolder {
		order: 1;
		width: 300px;
		height: 300px;
		display: block;
		margin: 0 auto;
	}
	#Calander {
		position: static;
	}
	#Calander iframe {
		width: 300px;
		height: 300px;
	}
	
	
	
	
}