@charset "utf-8";
/* CSS Document */

body, html {
    margin: 0;
	position: relative;
}

#background {
    background-image: url("pictures/theme-1-background.jpg");
    height:200px;
	position: relative;
	display: block;
}

#background-wrapper {
    background-color:rgb(176,0,0);
    background-color:rgba(176,0,0,.7);
    height: inherit;
}
#title {
	height: inherit;
	display: table;
}
#title div {
	vertical-align: middle; 
	display: table-cell;
	padding-left: 50px;
}
#MenuPicture {
	width: 250px;
	height: 150px;
	background-color: #fff;
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	right: 50px;
	margin: auto 0;
}
#MenuPicture img {
	width: 200px;
	height: 150px;
	margin: 0 auto;
	display: block;
}
#MenuBar {
	width: 80%;
	margin: 0 auto;
}
#MenuBar div {
	width: 14.2857%;
	display: inline-block;
	text-align: center;
}
#MenuIcon {
	display: none;
}
a {
	font-size: 20px;
	text-decoration: none;
	color: black;
}
#Content {
	height: 700px;
	font-size: 0;
}
#SocialMedia {
	display: inline-block;
	width: 3%;
	height: inherit;
}
#SocialMedia img {
	height: 50px;
	width: 50px;
	margin: 15px 0;
	margin-left: -5px;
}
#Info {
	display: inline-block;
	height: inherit;
	width: 60%;
	vertical-align: top;
	font-size: initial;
	height: inherit;
}
#InfoHolder {
	margin: 15% 10%;
}

#BottomPicture {
	display: inline-block;
	vertical-align: top;
	width: 37%;
	position: relative;
	height: inherit;
}
#PictureHolder {
	background-color: #000;
	height: 400px;
	width: 90%;
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto 0;
}
#PictureHolder img {
	width: 100%;
	height: 100%;
}
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
#foot {
	background: linear-gradient(to bottom right, #ffffff 0%, #808080 100%);
	height: 45px;
	width: 100%;
	display: table;
	text-align: center;
}
#foot p {
	display: table-cell;
	vertical-align: middle;
}

@media only screen and (max-width: 500px) {
	#background {
		height: initial;
	}
	#title div img {
		width: 80%;
		height: auto;
	}
	#title div {
		padding-left: 0;
		text-align: center;
	}
	#MenuPicture, #MenuBar{
		display: none;
	}
	#MenuIcon {
		display: block;
		text-align: center;
	}
	#MenuIcon img {
		width: 3%;
		height: auto;
	}
	#Content {
		height: initial;
		display: flex;
		flex-direction: column;
	}
	#BottomPicture {
		display: block;
		order: 1;
		width: initial;
		height: initial;
	}
	#PictureHolder {
		position: static;
		width: 85%;
		height: auto;
		margin: 20px auto;
		text-align: center;
	}
	#PictureHolder img {
		width: 100%;
		height: 100%;
	}
	#Info {
		display: block;
		order: 2;
		margin: 0 auto;
		width: 90%;
	}
	#InfoHolder {
		text-align: center;
		margin: 0 10%;
	}
	#SocialMedia {
		display: block;
		order: 3;
		width: initial;
		height: 80px;
		text-align: center;
		margin-top: 10px;
	}
	#SocialMedia div {
		width: initial;
		margin: 0 !important;
	}
	#SocialMedia div img {
		margin: 0 10%;
		width: 8%;
		height: auto;
	}
	#foot {
		height: 35px;
	}
	
	
	
	
	
	
	
	
	
	
}
