@charset "utf-8";
/* CSS Document */
#Content {
	position: relative;
}
#Main {
	position: absolute;
	width: 100%;
	height: inherit;
	text-align: center;
	font-size: initial;
}
#Main div {
	width: 70%;
	margin: 3% auto 0;
}