@charset "utf-8";
/* CSS Document */
#Content {
	position: relative;
}
#Main {
	position: absolute;
	width: 100%;
	height: inherit;
	text-align: center;
	font-size: initial;
}
#Main div {
	width: 70%;
	margin: 3% auto 0;
}
textarea {
	resize: none;
	width: 60%;
	height: 200px;
	
}


@media only screen and (max-width: 500px) {
	#Main {
		position: static;
		
	}
	textarea {
		height: 80px;	
	}
	
	
}
